* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary: rgb(17, 255, 0);
  --secundary: #ff9f0d;
  --terciary: black;
}

body {
  font-family: "Domine", serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.icon {
  width: 60px;
  cursor: pointer;
}

.list {
  display: flex;
  gap: 20px;
}

.list li a {
  color: var(--terciary);
}

.bg {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
}

.hero {
  position: relative;
}

.hero-txt {
  display: inline;
  position: absolute;
  top: 140px;
  left: 40px;
  width: 300px;
  height: 220px;
  text-align: center;
  z-index: 1000;
  background-color: aliceblue;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.hero-txt h1 {
  font-size: 30px;
  margin-top: 35px;
}

.btn-menus {
  padding: 40px;
}

.btn {
  display: inline-block;
  background-color: var(--secundary);
  padding: 20px 40px;
  border-radius: 25px;
  color: var(--primary);
  text-transform: capitalize;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.product {
  height: 350px;
  margin-bottom: 45px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.products {
  margin-top: 60px;
  padding: 30px;
  text-align: center;
}

.products h2 {
  font-size: 25px;
}

.products p {
  padding: 0;
  margin-bottom: 40px;
}

.product-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product-info img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product span {
  background-color: var(--secundary);
  padding: 15px;
  color: var(--primary);
  border-radius: 15px;
}

.product h3 {
  margin-top: 10px;
}

.pers-img {
  width: 100%;
}

.menu-p {
  display: flex;
  flex-direction: column;
  align-items: initial;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.menu-p h3 {
  margin: 25px;
}

.menu-p li {
  margin-left: 10px;
}

.menu-p button {
  background-color: var(--secundary);
  color: var(--primary);
  padding: 15px;
  border-radius: 25px;
  margin: 30px;
}

.link h3 {
  padding: 10px;
}

.footer {
  padding: 30px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

@media (min-width: 415px) {
  .hero-txt {
    width: 500px;
    display: inline;
    align-items: center;
    left: 30%;
    right: 30%;
  }

  .hero-txt button {
    cursor: pointer;
    font-weight: bolder;
  }

  .products h2 {
    padding: 30px;
  }

  .product h3 {
    padding: 10px;
  }

  .product-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
  }

  .product {
    height: 450px;
  }

  .product span {
    cursor: pointer;
    font-weight: bolder;
  }

  .menu-p ul li {
    padding: 10px;
  }

  .menu-p button {
    cursor: pointer;
    font-weight: bolder;
  }

  .menu-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img-pers {
    display: none;
  }

  .menu-p {
    width: 100%;
    align-items: center;
  }

  .footer {
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    border-radius: 30px;
  }

  .link h3 {
    cursor: pointer;
  }

  .link ul {
    cursor: pointer;
  }

  .link img {
    padding: 5px;
  }

  .link ul li {
    padding: 5px;
  }
}
